<!DOCTYPE html>
<html>
  <head>
     <title>Ruby On rails Tutorial Sample App | <%= @title %></title>
  </head>
 <body>
  <h1>Contact</h1>
    
<p>This is the home page for <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    </p>
 </body>
</html>