<h1>Sample App</h1>

<p>
This is the homepage for the 
<a href="http://inflationbubble.blogspot.com/">The Nekogoya Project</a>
sample application.
</p>
 
<%= link_to "Sign up now!", '#', :class => "signup_button round" %>